page-list {

  #closeModal{
    background: none;
    padding: 0;
    color: #4b4b4b;
    border: none;
    box-shadow: none;
  }
  
  div,span{
    font-size: 1.6rem !important;
    white-space: normal;
  }

  .line{
    font-weight: 600 !important;
  }

  img{
    border-radius: 5px;
  }
}
