<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queries.searchPosition" (ionInput)="searchPlace('searchPosition')" (click)="clearSearchBar('searchPosition')"></ion-searchbar>
  </ion-toolbar>

  <ion-list style="position: relative;">
    <ion-item class="place-result" *ngFor="let place of places" (click)="selectPlace(place,'searchPosition')">{{place.description}}</ion-item>
  </ion-list>

  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <ion-list *ngIf="traceRoute">
    <ion-item>
      <ion-label>De onde?</ion-label>
      <ion-input type="text" [(ngModel)]="originPosition"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Para onde?</ion-label>
      <ion-input type="text" [(ngModel)]="destinationPosition"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button (click)="calculateRoute()">Traçar rota</button>
    </div>
  </ion-list>

  <div #map id="map">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>
