<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queries.searchPosition" (ionInput)="searchPlace('searchPosition')" (touchstart)="clearSearchBar('searchPosition')"></ion-searchbar>
  </ion-toolbar>

  <ion-list style="position: relative;">
    <ion-item class="place-result" *ngFor="let place of places.searchPosition" (touchstart)="selectPlace(place,'searchPosition')">{{place.description}}</ion-item>
  </ion-list>

  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <ion-list>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queries.originPosition" (ionInput)="searchPlace('originPosition')" (touchstart)="clearSearchBar('originPosition')"></ion-searchbar>
    </ion-toolbar>
    <ion-list style="position: relative;">
      <ion-item class="place-result" *ngFor="let place of places.originPosition" (touchstart)="selectPlace(place,'originPosition')">{{place.description}}</ion-item>
    </ion-list>

    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queries.destinationPosition" (ionInput)="searchPlace('destinationPosition')" (touchstart)="clearSearchBar('destinationPosition')"></ion-searchbar>
    </ion-toolbar>
    <ion-list style="position: relative;">
      <ion-item class="place-result" *ngFor="let place of places.destinationPosition" (touchstart)="selectPlace(place,'destinationPosition')">{{place.description}}</ion-item>
    </ion-list>
    <div padding>
      <button ion-button (click)="calculateRoute()">Traçar rota</button>
    </div>
  </ion-list>

  <div #map id="map">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>
